services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.7
    container_name: homepage
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - /home/mircea/docker/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock # (optional) For docker integrations
    environment:
      HOMEPAGE_ALLOWED_HOSTS: homelab:3000 # required, may need port. See gethomepage.dev/installation/#homepage_allowed_hosts