services:
  homeassistant:
    image: lscr.io/linuxserver/homeassistant:2025.11.2
    container_name: homeassistant
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /home/mircea/docker/home-assistant:/config
    restart: unless-stopped
