services:
  homeassistant:
    image: lscr.io/linuxserver/homeassistant:2024.10.3
    container_name: homeassistant
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /home/mircea/docker/home-assistant:/config
    ports:
      - 8123:8123 #optional
    restart: unless-stopped
