services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.7
    container_name: homepage
    restart: unless-stopped
    network_mode: host
    volumes:
      - /home/mircea/compose-files/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro # (optional) For docker integrations
    env_file:
      - .env
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - HOMEPAGE_ALLOWED_HOSTS=homelab:3000