services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.7
    container_name: homepage
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - /home/mircea/compose-files/homepage:/app/config
      - /run/user/1000/docker.sock:/var/run/docker.sock:ro # (optional) For docker integrations
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=homelab:3000,home-server.me