services:
  cloudflared:
    image: cloudflare/cloudflared:2025.11.1
    container_name: cloudflared
    restart: unless-stopped
    network_mode: "host"
    environment:
      - TUNNEL_METRICS=0.0.0.0:20241
    volumes:
      - ./config.yml:/etc/cloudflared/config.yml:ro
      - ./2a32c37d-447c-4d24-9256-9deb86bc686f.json:/etc/cloudflared/2a32c37d-447c-4d24-9256-9deb86bc686f.json:ro
    command: tunnel --config /etc/cloudflared/config.yml run
    healthcheck:
      # Check if the Cloudflare Tunnel is healthy by querying the metrics endpoint
      # https://github.com/cloudflare/cloudflared/pull/1135#issuecomment-2495472654
      # https://developers.cloudflare.com/cloudflare-one/networks/connectors/cloudflare-tunnel/monitor-tunnels/metrics/#configure-the-metrics-server-address
      test: ["CMD", "cloudflared", "tunnel", "--metrics", "localhost:20241", "ready"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 10s
