services:
  cloudflared:
    image: cloudflare/cloudflared:2025.11.1
    container_name: cloudflared
    restart: unless-stopped
    networks:
      - media-server_media-net
      - homepage_default
      - monitoring_default
    ports:
      - "20241:20241"
    dns:
      - 1.1.1.1
      - 1.0.0.1
      - 8.8.8.8
    extra_hosts:
      - "homeassistant:host-gateway"
    environment:
      - TUNNEL_METRICS=0.0.0.0:20241
    volumes:
      - ./tunnel-token:/etc/cloudflared/token:ro
    command: ["tunnel", "run", "--token-file", "/etc/cloudflared/token"]
    healthcheck:
      # Check if the Cloudflare Tunnel is healthy by querying the metrics endpoint
      # https://github.com/cloudflare/cloudflared/pull/1135#issuecomment-2495472654
      # https://developers.cloudflare.com/cloudflare-one/networks/connectors/cloudflare-tunnel/monitor-tunnels/metrics/#configure-the-metrics-server-address
      test: ["CMD", "cloudflared", "tunnel", "--metrics", "localhost:20241", "ready"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 10s

networks:
  media-server_media-net:
    external: true
  homepage_default:
    external: true
  monitoring_default:
    external: true
