name: Deploy Homepage

on:
  push:
    branches:
      - main
    paths:
      - 'homepage/**'
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy-service.yml
    with:
      service_name: Homepage
      service_path: homepage
    secrets: inherit
