name: Deploy Media Server

on:
  push:
    branches:
      - main
    paths:
      - 'media-server/compose.yml'
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy-service.yml
    with:
      service_name: Media Server
      service_path: media-server
    secrets: inherit
